package pages

import "github.com/kylerequez/marketify/src/shared"
import "github.com/kylerequez/marketify/src/views/layouts"
import "github.com/kylerequez/marketify/src/views/components"

templ Signup(
	info shared.PageInfo,
	form shared.SignupFormData,
) {
	@layouts.Main(info) {
		@components.SignupForm(form)
	}
}
