package partials

import "github.com/kylerequez/marketify/src/shared"

templ Navbar(
	info shared.PageInfo,
) {
	<nav hx-boost="true">
		<a href="/login">Login</a>
		<a href="/signup">Signup</a>
	</nav>
}
