package partials

import "github.com/kylerequez/marketify/src/shared"

templ Navbar(
	info shared.PageInfo,
) {
	<nav hx-boost="true">
		if info.LoggedInUser == nil {
			<a href="/login">Login</a>
			<a href="/signup">Signup</a>
		} else {
			<a href="/dashboard/users">Users</a>
			<button type="button" hx-post="/api/v1/auth/logout">Logout</button>
		}
	</nav>
}
